{# Return a list item containing an anchor to the endpoint. If the endpoint is active, an 'active' class is added to the list item. #}
{% macro nav_list_link(endpoint, name, li_cls='', a_cls='') %}
  {% set active_cls = 'active' if active_endpoint(endpoint) else '' %}
  <li class="{{ active_cls }} {{ li_cls }}">
    <a href="{{ url_for(endpoint) }}" class="{{ a_cls }}">{{ name }}</a>
  </li>
{% endmacro %}

{# Return True if the endpoint argument matches the beginning of the request endpoint #}
{% macro active_endpoint(endpoint) %}
  {%- if endpoint == request.endpoint[0:endpoint | length] -%}
    True
  {%- endif -%}
{% endmacro %}

{# Return True if the endpoint argument matches the request endpoint exactly #}
{# Generally you want 'fuzzy' matching, so that parents are matched, but sometimes you don't! #}
{% macro active_endpoint_absolute(endpoint) %}
  {%- if endpoint == request.endpoint -%}
    True
  {%- endif -%}
{% endmacro %}

{# If the endpoint is the current one, render then #}
{% macro active_endpoint_then(endpoint, then) %}
  {{ then | safe if active_endpoint(endpoint) else '' }}
{% endmacro %}

{# Display a form to select run ranges #}
{% macro run_range_form() %}
  <form class="form-inline run-range-form" role="form">
    <div class="row">
      <div class="col-sm-2">
        <label>Run range</label>
      </div>
      <div class="col-sm-6">
        <div class="input-daterange input-group">
          <label class="sr-only" for="start-date">Run range start</label>
          <input type="text" class="input-sm form-control" name="start-date" placeholder="Start">
          <span class="input-group-addon">to</span>
          <label class="sr-only" for="end-date">Run range end</label>
          <input type="text" class="input-sm form-control" name="end-date" placeholder="End">
        </div>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-block btn-sm btn-info">Inspect</button>
      </div>
    </div>
  </form>
{% endmacro %}
