{# Return a stylesheet link tag. #}
{# If asset, construct URL as `assets/stylesheets/name.css`, else assume URL is name. #}
{% macro stylesheet_tag(name, asset=True) %}
  <link rel="stylesheet" href="{{ url_for('assets', filename='stylesheets/{0}.css'.format(name)) if asset else name }}">
{% endmacro %}

{# Return a JavaScript link tag. #}
{# If asset, construct URL as `assets/javascripts/name.js`, else assume URL is name. #}
{% macro javascript_tag(name, asset=True) %}
  <script src="{{ url_for('assets', filename='javascripts/{0}.js'.format(name)) if asset else name }}"></script>
{% endmacro %}

{#
  Return a list item containing an anchor to the page.
  If the page is active, or is an ancestor of the active page,
  an 'active' class is added to the list item.
#}
{% macro nav_list_link(page, title) %}
  <li class="{{ 'active' if active_page_or_ancestor(page) else '' }}">
    <a href="{{ url_for('serve_page', path=page) }}">{{ title }}</a>
  </li>
{% endmacro %}

{#
  Return True if page is the active page, or if it is an ancestor of the active page.
  This is achieved by exploting the URL structure of a page. Take for example
    page='parent'
  This macro will return True for both
    g.active_page = 'parent'
  and
    g.active_page = 'parent/child'
#}
{% macro active_page_or_ancestor(page) %}
  {%- if page == g.active_page[0:page | length] -%}
    True
  {%- endif -%}
{% endmacro %}

{# Display a form to select run ranges #}
{% macro run_range_form() %}
  <div class="run-range-form">
    <div class="row">
      <div class="col-sm-2">
        <p><strong>Run range</strong></p>
      </div>
      <div class="col-sm-10">
        <form class="form-inline" role="form">
          <div class="row">
            <div class="col-sm-8">
              <div class="input-daterange input-group">
                <label class="sr-only" for="start-date">Run range start</label>
                <input type="text" class="input-sm form-control" name="start-date" placeholder="Start">
                <span class="input-group-addon">to</span>
                <label class="sr-only" for="end-date">Run range end</label>
                <input type="text" class="input-sm form-control" name="end-date" placeholder="End">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-block btn-sm btn-info">Inspect</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}
