{% extends "velo_view/trends/trends.html" %}
{% block pageheader %}Trends{% endblock %}
{% block pagesubheader %}Non zero-suppressed{% endblock %}
{% block pageModule %}veloView.trends.nzs{% endblock %}
{% block childbody %}
  <div class="row">
    <div class="col-sm-6 histogram" data-file="histograms.root" data-histogram="histogram_0">
    </div>
    <div class="col-sm-6 histogram" data-file="histograms" data-histogram="histogram_1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 histogram" data-file="histograms" data-histogram="histogram_2">
    </div>
    <div class="col-sm-6 histogram" data-file="histograms" data-histogram="histogram_3">
    </div>
  </div>
{% endblock %}
