{% from "_helpers.html" import active_endpoint_then, active_endpoint_absolute %}
{% extends "velo_view/velo_view.html" %}
{% block pageheader %}Trends{% endblock %}
{% block pageModule %}veloView.trends{% endblock %}
{% block body %}
  <ul class="nav nav-tabs nav-justified">
    {# The NZS tab is default for trends, so make it active if we're there, too #}
    {{ nav_list_link('velo_view_trends_nzs', 'NZS', 'active' if active_endpoint_absolute('velo_view_trends') else '') }}
    {{ nav_list_link('velo_view_trends_clusters', 'Clusters') }}
    {{ nav_list_link('velo_view_trends_tracks', 'Tracks') }}
    {{ nav_list_link('velo_view_trends_vertices', 'Vertices') }}
  </ul>
{% endblock %}
