{% from "_helpers.html" import run_range_form %}
{% extends "velo_view/velo_view.html" %}
{% block pageheader %}Trends{% endblock %}
{% block pageModule %}veloView.trends{% endblock %}
{% block body %}
  <ul class="nav nav-tabs nav-justified">
    {# The NZS tab is default for trends, so make it active if we're there, too #}
    {{ nav_list_link('velo_view/trends/nzs', 'NZS') }}
    {{ nav_list_link('velo_view/trends/clusters', 'Clusters') }}
    {{ nav_list_link('velo_view/trends/tracks', 'Tracks') }}
    {{ nav_list_link('velo_view/trends/vertices', 'Vertices') }}
  </ul>
  {{ run_range_form() }}
  <div class="trend-indicators">
    <div class="row">
      <div class="col-sm-2">
        <p><strong>Trend indicators</strong></p>
      </div>
      <div class="col-sm-10">
        <form class="form" role="form">
          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">TELL1 parameter change
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Technical stop
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Alignment update
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Magnet polarity
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  {% block childbody %}
  {% endblock %}
  <div class="trends-vs-selector">
    <div class="btn-group">
      <button type="button" class="btn btn-default disabled" disabled>Trend vs.</button>
      <button type="button" class="btn btn-primary">Run number</button>
      <button type="button" class="btn btn-default">Time</button>
      <button type="button" class="btn btn-default">Luminosity</button>
      <button type="button" class="btn btn-default">Fluence</button>
    </div>
  </div>
{% endblock %}
